<!DOCTYPE html>
<html lang="en">
<head>
  <% if (htmlWepbackPlugin.options.trackjsToken) { %>
    <script src="https://cdn.trackjs.com/agent/v3/latest/t.js"></script>
    <script>
      window.TrackJS && TrackJS.install({
        token: "<%=htmlWepbackPlugin.options.trackjsToken%>"
        // for more configuration options, see https://docs.trackjs.com
      });
    </script>
  <% } %>
    <meta charset="UTF-8">
</head>
<body>
  <h1>Users</h1>
  <table>
    <thead>
      <th>&nbsp;</th>
      <th>Id</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
    </thead>
    <tbody id="users">
    </tbody>
  </table>
</body>
</html>
